.wrapper

  .content

    .content__upper
      %h2
        新着投稿
      .content__upper__post
        = image_tag("おじさん.jpeg", class: "content__upper__post__image")
        %p.content__upper__post__question
          テレアポでアポイントが取れません。どうすればいいですか
        %P.content__upper__post__category
          人材業界

      .content__upper__post
        = image_tag("おじさん.jpeg", class: "content__upper__post__image")
        %p.content__upper__post__question
          テレアポでアポイントが取れません。どうすればいいですか
        %P.content__upper__post__category
          人材業界

      .content__upper__post
        = image_tag("おじさん.jpeg", class: "content__upper__post__image")
        %p.content__upper__post__question
          テレアポでアポイントが取れません。どうすればいいですか
        %P.content__upper__post__category
          人材業界

      .content__upper__post
        = image_tag("おじさん.jpeg", class: "content__upper__post__image")
        %p.content__upper__post__question
          テレアポでアポイントが取れません。どうすればいいですか
        %P.content__upper__post__category
          人材業界


    .content__bottom
      %h2
        カテゴリ別の質問を探す
      .content__bottom__style
        %h3
          営業スタイル
        %ul
          %li 法人営業
          %li 個人営業
      .content__bottom__type
        %h3
          業界
        %ul
          %li 不動産
          %li 金融
          %li 広告
      .content__bottom__carrier
        %h3
          キャリア
        %ul
          %li キャリアパス
          %li やりがい
  .side-bar

    .side-bar__upper
      %p 広告
    .side-bar__bottom
      %p 広告


