.header
  %h1
    sales Q
  %p ~営業のお悩み質問箱~

  %ul
    %li
      質問を投稿する
    %li
      マイページ
    %li
      サインアウト
.wrapper

  .content

    .content__upper

    .content__bottom

  .side-bar

    .side-bar__upper

    .side-bar__bottom

.fotter

