.wrapper-question
  .question-form
    = form_for(@question) do |f|
      %h1.question-form__title
        Question
        = f.text_area :body, placeholder: "ここに質問を入力してください", class: "question-form__body"

        = f.submit "質問する", class: "question-form__btn"
