.wrapper-question-show
  .wrapper-question-show__upper
    %h1
      Question
    .wrapper-question-show__upper__body
  .wrapper-question-show__mid
    %h1
      回答一覧
    .wrapper-question-show__mid__body

  .wrapper-question-show__bottom
    .wrapper-question-show__bottom__body
      ここに解答を入力してください
  .wrapper-question-show__btn
    投稿する
