.content {
 width: 60vw;
 height: 1200px;
 margin-top: 70px;
 float: left;
 .content__upper{
  height: 900px;
  border:dotted 2px black;
 }
 .content__bottom{
  height: 250px;
  margin-top: 30px;
  border:dotted 2px black;
 }


}
