.content {
 width: 60vw;
 height: 1200px;
 margin-top: 70px;
 float: left;
 .content__upper{
  height: 900px;
  border:dotted 2px black;
  overflow: scroll;
  h2{
    color: white;
    background-color: #daa520;
  }
  .content__upper__post{
    margin: 20px 15px 0 15px;
    background-color: #F7F7F7;
    border-radius: 5px;
    .content__upper__post__name{
      width: 10vw;
      border-bottom: solid 2px #daa520;
      margin-left: 10px;
    }
    .content__upper__post__question{
      background-color: #FFFFFF;
      margin: 10px 10px;
      border-radius: 5px;
    }
    .content__upper__post__category{
      color: #daa520;
      margin-left: 10px;
    }
  }
 }
 .content__bottom{
  height: 250px;
  margin-top: 30px;
  border:dotted 2px black;
  h2{
    color: white;
    background-color: #daa520;
  }
 .content__bottom__style{
  float: left;
 }
 .content__bottom__type{
  float:left;
  margin-left: 50px;
 }
 .content__bottom__carrier{
  clear: both;
 }
 }


}
