.fotter{
  height: 20vh;
  background-color:#990000;
  clear: both;
  h2{
    color: white;
    font-size:20px;
    font-weight: bold;
    font-style: oblique;
  }
  .fotter__mid{
    color: white;
    font-size:15px;
  }
}
